{% extends 'seller-header.html' %}
{% load static %}

{% block content %}
<div class="tables">
    <div class="panel-body widget-shadow">
        <h4>Product List</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for item in productlist %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.des}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.discount}}</td>
                    <td><img title=" " alt=" " src="{{item.pic.url}}" height="50" width="50"></a></td>
                    
                    <td><a href="{% url 'edit' item.id %}">Edit</a> | <a href="{% url 'delete' item.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}